.content{
    display: grid;
    justify-content: center;
    align-content: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    margin-top:  20px;
}
#todo-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Comic Neue', cursive;
}
.btn{
    background-color: rgb(54, 138, 138);
    color: ivory;
    border: 2px solid aqua;
    height: 30px; 
    width: 150px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.redColor{
    color: red;
}
.purpleColor{
    color: rgb(182, 182, 206);
}
#user-id{
    width: 30px;
}
#lab{
    margin-top: 5px;
    margin-bottom: 5px;
}